<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RunAllPath" value="D:\Workspace\installer\Kill_Server.ps1" />
    <add key="LoadConfigPath" value="D:\Workspace\installer\Kill_Server.ps1" />
    <add key="1" value="D:\Workspace\installer\Kill_Server.ps1" />
    <add key="2" value="D:\Workspace\HeadsOmni\scripts\copy_to_system_test.ps1" />
    <add key="3" value="D:\Workspace\HeadsOmni\scripts\install.apps.ps1" />
    <add key="4" value="D:\Workspace\HeadsOmni\scripts\load-config.bat" />
  </appSettings>
</configuration>